
.panel-body {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 0;
    padding-left: 0;
}
.panel{
    max-height: 400px;
    overflow: hidden;
}
body{
    line-height: 1.2;
}
ul{
    list-style: none;
}
.panel-heading{
    font-size: large;
}

/*#profile>.row>.col-lg-3{
    padding-left: 15px;
    padding-right: 15px;
}*/
/*.card:hover{
	box-shadow: 3px 4px 4px rgb(85, 88, 88);
	transition: 0.3s ease-in-out;
}*/
.img-thumbnail{
    padding:0;
}
body {
    background: #000000;  /* fallback for old browsers */
    	background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    	background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
